.modal-sor {
    .close {
        opacity: 1;
        padding: 12px;
    }

    .modal-title {
        font-size: rem-calc(21px);
    }

    .modal-body {
        padding: 23px;
        text-align: center;
    }

    .modal-footer {
        padding: 24px;
    }

    .full_row {
        flex-direction: column;
    }
}

.sor-options-description {
    font-size: rem-calc(18px);
    line-height: rem-calc(22px);
    padding-bottom: 20px;
}

.smart-order-refill-options {
    label {
        font-family: $font-family-primary-bold;
    }
}

.sor-select {
    font-size: rem-calc(15px);
}

.pac-container {
    display: block;
    z-index: 1070;
}

@include media-breakpoint-down(xs) {
    .sor-modal.show {
        .modal-dialog {
            overflow-y: visible;
        }
    }
}

@include media-breakpoint-up(lg) {
    .modal-sor {
        .modal-body {
            padding: 33px 35px;
            text-align: left;
        }

        .full_row {
            flex-direction: row;
        }

        .close {
            padding: 12px;
        }
    }
}
