@import "../utilities/utilities";
@import "../components/fonts";
@import "./progresssteps";
@import "./checkoutmodal";
@import "./checkoutsummary";

.login-checkout {
    padding-top: 35px;

    .account-benefits-title {
        font-size: rem-calc(17px);
        font-family: $font-family-secondary;
    }
}

.checkout-login-column {
    .forgot-password {
        font-size: rem-calc(13px);
    }

    .form-group {
        margin-bottom: 5px;
    }
}

.total-items-label {
    font-size: rem-calc(19px);
}

.line-item-total-price {
    margin-bottom: 20px;
}

@include media-breakpoint-down(sm) {
    .checkout-login-column {
        .card {
            background-color: transparent;
        }

        .form-group input {
            background-color: $white;
        }

        .forgot-password {
            font-size: rem-calc(15px);
        }

        .subscribe-button {
            background: transparent;
            border-color: transparent;
        }
    }
}
